* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  font-weight: 600;
  transform: rotate(-45deg);
}

.navbar-text,
.navbar a {
  color: #63372c !important;
}

.carousel-item img {
  height: 630px;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 40%;
}

.carousel-caption h1 {
  color: #63372c;
}

.carousel-caption p {
  color: #262322;
  font-weight: 600;
}

.feature.col {
  border-left: 2px solid rgb(0, 255, 13);
  border-right: 1px solid rgb(0, 255, 255);
}

.fa-solid,
.fa-regular {
  color: orange;
}

.fa-plane-up {
  transform: rotate(45deg);
}

/* Testimonial section */

.testimonial-main {
  padding: 50px 0px;
}

.testimonial.carousel-inner {
  height: 200px;
  width: 60%;
}

.testimonial content {
  display: flex;
  flex-direction: column;
}

.content .author {
  color: orange;
}

/* Blog section */
.inner-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  height: 600px;
}

.inner-grid .card-img {
  height: 185px;
}

/* Discount section */
.discount-section {
  height: 300px;
  display: flex;
  align-items: center;
}

.discount {
  background-color: orange;
  height: 200px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.btn-discount {
  background-color: orange;
  color: white;
  padding: 10px 50px;
  border: 2px solid white;
  border-radius: 25px;
  font-weight: 650;
}

.btn-discount:hover {
  background-color: white;
  color: orange;
  border: orange;
}
.carousel-indicators button {
  border-radius: 50% !important;
  width: 12px !important;
  height: 12px !important;
  background-color: orange !important;
}

@media screen and (max-width: 1200px) {
  .inner-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 40px;
  }
  #album container > div {
    display: flex;
    flex-direction: column;
  }

  .blog-section {
    margin: 0;
  }

  .horizontal-card {
    flex-direction: column;
  }

  .testimonial .content {
    padding: 0;
  }
  .testimonial .carousel-item div {
    /* flex-direction: column; */
    width: 100%;
    height: auto;
  }
}
