* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background: -webkit-linear-gradient(#0f0bee, #ce0909);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
}

p {
  font-family: "Open Sans", serif;
}

.navbar-brand {
  font-weight: 800 !important;
  transform: rotate(-45deg);
}

.navbar-text,
.navbar a {
  font-weight: 620;
  background: -webkit-linear-gradient(#23640a, #070be9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  background: -webkit-linear-gradient(#e24406, #e6c406);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---------------------------Hero section ------------------------- */

#hero-section {
  background-color: black !important;
  background-blend-mode: overlay !important;
}

.carousel-item img {
  height: 630px;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 40%;
}

.carousel-caption h1 {
  background: -webkit-linear-gradient(#e44c06, #c4d109);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-caption p {
  background: -webkit-linear-gradient(#0f0bee, #ce0909);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.fa-solid,
.fa-regular {
  color: orange;
}

.fa-plane-up {
  transform: rotate(45deg);
}

/* Feature head section */
.feature-head-section .container {
  background-image: linear-gradient(
    to top,
    #fbc2eb 0%,
    #a6c1ee 100%
  ) !important;
}

.feature-head .carousel-item .container .row .feature {
  /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: linear-gradient(to right, #6b11cb81 0%, #2574fc7c 100%);
  border-radius: 50%;
}

/* Album section */
#album img:hover {
  transform: scale(1.1);
  border-radius: 20px;
  z-index: 100;
  transition: 500ms;
  overflow: hidden;
}

/* Testimonial section */

.testimonial-main {
  padding: 50px 0px;
}

.testimonial.carousel-inner {
  height: 200px;
  width: 60%;
}

.testimonial content {
  display: flex;
  flex-direction: column;
}

.content .author {
  color: orange;
}

.testimonial img {
  height: 200px;
  width: 300px;
  object-fit: contain;
}

/* Blog section */
.inner-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  height: 600px;
}

.inner-grid .card-img {
  height: 185px;
}

.blog-section img:hover {
  box-shadow: outset solid 2px 2px black;
}

/* Discount section */
.discount-section {
  height: 300px;
  display: flex;
  align-items: center;
}

.discount {
  background-color: orange;
  height: 200px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.btn-discount {
  background-color: orange;
  color: white;
  padding: 10px 50px;
  border: 2px solid white;
  border-radius: 25px;
  font-weight: 650;
}

.btn-discount:hover {
  background-color: white;
  color: orange;
  border: orange;
}
.carousel-indicators button {
  border-radius: 50% !important;
  width: 12px !important;
  height: 12px !important;
  background-color: orange !important;
}

/* Contact Us section  */
.contact {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 100px;
  width: 100%;
  /* gap: 60px; */
}
.contact-text {
  width: 50%;
  padding: 0px 40px 20px;
}
form.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 300px; */
}

.form input {
  height: 40px;
  padding: 0px 18px;
  background-color: #ffffff;
  border: none;
  color: #4e4b4b;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.form input::placeholder {
  color: #737272;
}

.form button {
  width: 140px;
  margin-top: 50px;
}
.map {
  width: 50%;
  padding-top: 70px;
}

.contact-text h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
}

.form input.message-text {
  height: 135px;
}
.contact-text :last-child {
  margin-top: 30px;
}

.blue-btn {
  background-color: #0355cc;
  color: white;
  border: 1px solid #0355cc;
  padding: 15px 30px;
  font-weight: 700;
}

.blue-btn:hover {
  background-color: #ffffff;
  color: #0355cc;
  border: 1px solid #0355cc;
}

.follow-us {
  text-align: right;
}

.follow-us ul {
  justify-content: end;
}

.to-top {
  background-color: rgba(171, 218, 224, 0.486);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.to-top svg {
  fill: #4e4b4b85;
  height: 40px;
  width: 40px;
}

/* ------------------------RESPONSIVE DESIGN--------------------------------------- */

@media screen and (max-width: 1200px) {
  .inner-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 40px;
  }

  .inner-grid .card-img {
    height: auto;
  }

  .feature-head .feature {
    height: 200px;
  }

  .feature-head .feature p {
    height: 100px;
    overflow: hidden;
  }
  /* #album .container > div {
    display: flex;
    flex-direction: column;
  } */

  .blog-section {
    margin: 0;
  }

  .horizontal-card {
    flex-direction: column;
  }

  .testimonial .content {
    padding: 0 !important;
  }

  .testimonial {
    height: 600px !important;
    text-align: center;
  }

  .testimonial .carousel-item div {
    flex-direction: column;
    width: 100%;
    /* height: auto; */
  }

  /* Contact section */
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
  }
  .contact-text {
    width: 80%;
  }
  .map {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%;
    height: 0;
    width: 80%;
  }
  .map iframe {
    position: absolute;
    top: 0;

    left: 0;

    width: 100% !important;

    height: 100% !important;
  }

  .follow-us {
    text-align: left;
  }

  .follow-us ul {
    justify-content: start;
  }
}
